.blog2_container {
    Max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
}

.tag {
    padding-top: 24px;

    span {
        font-size: 24px;
        line-height: 36px;
        color: #AA0601;

        &:nth-child(1) {
            font-size: 16px;
            line-height: 24px;
            color: #0A0A0A;
        }

        &:nth-child(2) {
            font-size: 16px;
            line-height: 24px;
            color: #AA0601;
        }
    }
}

.special {
    display: flex;
}

.valentine {
    width: 68%;
    padding-right: 24px;

    h2 {
        font-size: 48px;
        line-height: 72px;
    }

    h4 {
        font-size: 24px;
        line-height: 36px;
        padding-bottom: 16px;
    }

    ul {

        li {
            padding-bottom: 40px;

            img {
                width: 100%;
                padding-bottom: 8px;
            }
        }
    }

}

.share {
    width: 66%;

    ul {
        display: flex;
        border-bottom: 1px solid #707070;
        padding-bottom: 16px;

        li {
            padding-right: 16px;
            padding-bottom: 0;

            a {
                font-size: 16px;
                line-height: 24px;
                color: #0A0A0A;

                img {
                    width: 24px;
                    height: 24px;
                }

                &:hover {
                    background-color: blue;
                }
            }
        }
    }
}

.next {
    width: 66%;
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 80px;

    p {
        display: flex;
        align-items: center;
    }
}

.tags {

    span {
        font-size: 24px;
        line-height: 36px;
        padding-right: 24px;
        color: #AA0601;
        font-weight: bold;
    }

    h3 {
        font-size: 32px;
        line-height: 48px;
        color: #AA0601;
        font-weight: bold;
        display: flex;
        align-items: center;

        span {
            font-size: 32px;
            line-height: 48px;
        }
    }
}

@media (max-width: 992px) {
    .share {
        width: 100%;
    }

    .next {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .valentine {
        width: 100%;
    }

    .tags {
        display: none;
    }

    .share {
        display: none;
    }

    .next {
        display: none;
    }
}