/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  vertical-align: middle; }

a {
  text-decoration: none; }

.container {
  Max-width: 1320px;
  padding: 0 12px;
  text-align: center;
  margin: 0 auto; }

a {
  display: block; }

img {
  -o-object-fit: cover;
     object-fit: cover; }

.navbar {
  background-color: #AA0601; }

.navcontainer {
  Max-width: 1320px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .navcontainer img {
    width: 80px;
    height: 48px;
    margin-top: 16px;
    margin-bottom: 16px; }
  .navcontainer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .navcontainer ul li {
      padding-left: 64px;
      font-size: 20px;
      line-height: 30px; }
      .navcontainer ul li a {
        color: #FFFFFF;
        text-decoration: none; }
        .navcontainer ul li a:hover {
          color: blue; }

.footer {
  background-color: #AA0601;
  max-width: 100%; }

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 48px; }
  .list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.text li {
  padding-right: 48px; }
  .text li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px; }
    .text li a:hover {
      color: blue; }

.icon li:nth-child(2) {
  padding-left: 32px;
  padding-right: 32px; }

.icon img:hover {
  border-radius: 10px;
  background-color: blue; }

.list img {
  width: 48px;
  height: 48px; }

.contact {
  padding-top: 24px;
  font-size: 36px;
  line-height: 54px; }
  .contact ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .contact ul li img:nth-child(1) {
      margin-right: 22px;
      width: 36px;
      height: 36px; }
    .contact ul li img:nth-child(2) {
      margin-right: 22px;
      width: 40px;
      height: 32px; }
    .contact ul li:nth-child(1) {
      padding-bottom: 8px; }
    .contact ul li:nth-child(2) {
      padding-bottom: 32px;
      border-bottom: 1px solid #FFFFFF; }
    .contact ul li a {
      color: #FFFFFF;
      text-decoration: none; }
      .contact ul li a:hover {
        color: blue; }

.policy {
  padding: 32px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .policy p {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 21px; }
  .policy ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .policy ul li:nth-child(1) {
      padding-right: 48px; }
    .policy ul li a {
      color: #FFFFFF;
      text-decoration: none;
      font-size: 14px;
      line-height: 21px; }
      .policy ul li a:hover {
        color: blue; }

@media (max-width: 1326px) {
  .container {
    padding: 0 15px; }
  .navbar {
    padding: 0 15px; } }

@media (max-width: 992px) {
  .list img {
    width: 40px;
    height: 40px; }
  .policy {
    padding-bottom: 40px; } }

@media (max-width: 767px) {
  .navbar {
    padding: 0px; }
    .navbar div {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .navbar img {
      margin: 12px 0; }
    .navbar ul {
      width: 100%;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .navbar ul li {
        width: 50%;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        border: 1px solid #FFFFFF;
        padding: 0; }
        .navbar ul li a {
          text-align: center;
          padding: 12px 0px; }
  .navcontainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .container {
    padding: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .phonelist {
    padding-top: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #FFFFFF;
    margin-left: 13px;
    margin-right: 14px; }
  .list {
    padding-top: 0;
    padding-right: 0; }
    .list ul:nth-child(1) {
      display: none; }
  .icon img {
    width: 24px;
    height: 24px; }
  .icon li:nth-child(2) {
    padding-left: 8px;
    padding-right: 8px; }
  .contact {
    padding-top: 0;
    padding-left: 0;
    font-size: 16px;
    line-height: 24px; }
    .contact ul li img:nth-child(1) {
      width: 18px;
      height: 18px; }
    .contact ul li img:nth-child(2) {
      width: 20px;
      height: 16px; }
    .contact ul li:nth-child(2) {
      border: 0;
      padding-bottom: 20px; }
  .policy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    padding-top: 19px;
    padding-left: 13px;
    padding-bottom: 24px; }
    .policy ul {
      display: block;
      padding-top: 8px; }
      .policy ul li {
        padding-bottom: 8px; }
        .policy ul li a {
          font-size: 16px;
          line-height: 24px; } }

.banner {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true);
  background-position: center;
  background-size: cover;
  height: 787px; }

.bannertext {
  padding-top: 296px;
  text-align: right;
  color: #650300; }
  .bannertext h3 {
    font-size: 36px;
    line-height: 54px; }
  .bannertext h2 {
    font-size: 64px;
    line-height: 92px;
    padding-bottom: 4px;
    font-weight: bold; }
  .bannertext button {
    width: 104px;
    height: 40px;
    font-size: 20px;
    background-color: #AA0601;
    color: #FFFFFF; }
    .bannertext button a {
      text-decoration: none;
      color: #FFFFFF; }
      .bannertext button a:hover {
        color: blue; }

.about {
  background-color: #FBF2F2; }
  .about h2 {
    text-align: center;
    font-size: 48px;
    line-height: 72px;
    color: #650300;
    font-weight: bold;
    padding-top: 80px;
    padding-bottom: 24px; }
  .about ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 80px; }
    .about ul li {
      text-align: center; }
      .about ul li img {
        width: 100px;
        height: 100px; }
      .about ul li h5 {
        margin-top: 16px;
        margin-bottom: 8px;
        text-align: center;
        font-size: 24px;
        line-height: 36px;
        font-weight: bold;
        color: #650300; }
      .about ul li p {
        font-style: 16px;
        line-height: 24px;
        margin-right: 24px;
        text-align: left; }

.classic h2 {
  font-size: 48px;
  line-height: 72px;
  font-weight: bold;
  color: #650300;
  padding-top: 80px;
  padding-bottom: 48px;
  text-align: center; }

.classic img {
  width: 100%; }

.classic ul {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 80px; }
  .classic ul li {
    width: 30%; }
    .classic ul li:nth-child(2) {
      margin: 0 24px; }
    .classic ul li h3 {
      text-align: center;
      font-size: 48px;
      line-height: 72px;
      color: #AA0601;
      font-style: italic;
      font-weight: 900;
      font-family: Roboto;
      padding-top: 8px; }

.design {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true);
  background-position: center;
  background-size: cover;
  margin-bottom: 80px; }
  .design h2 {
    text-align: center;
    font-size: 48px;
    line-height: 72px;
    color: #FFFFFF;
    font-weight: bold;
    padding-top: 80px;
    padding-bottom: 48px; }
  .design img {
    width: 100%; }
  .design ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 80px; }
    .design ul li h3 {
      text-align: center;
      font-size: 48px;
      line-height: 72px;
      color: #AA0601;
      background-color: #FFFFFF;
      font-style: italic;
      font-weight: 900; }

.customer {
  text-align: center; }
  .customer h2 {
    font-size: 48px;
    line-height: 72px;
    color: #650300;
    font-weight: bold;
    padding-bottom: 48px; }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 80px; }
  .card li {
    margin: 0 12px;
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); }
    .card li div {
      padding: 16px;
      text-align: left; }
      .card li div p {
        font-size: 16px;
        line-height: 24px;
        padding-top: 8px;
        padding-bottom: 72px; }
      .card li div time {
        font-size: 14px;
        line-height: 21px;
        color: #707070; }
    .card li img {
      width: 100%; }

.contactUs {
  background-color: #FBF2F2;
  text-align: center; }
  .contactUs h2 {
    padding-top: 80px;
    padding-bottom: 48px;
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    color: #650300; }
  .contactUs form {
    width: 50%;
    margin: 0 auto; }

.form-group {
  padding-bottom: 16px; }
  .form-group p {
    text-align: left;
    font-size: 20px;
    line-height: 30px; }
  .form-group label {
    display: block;
    text-align: left;
    padding-bottom: 8px;
    font-size: 16px;
    line-height: 24px; }
  .form-group input {
    width: 100%;
    padding: 6px 12px; }
  .form-group textarea {
    width: 100%;
    height: 136px;
    resize: none; }
  .form-group :-moz-placeholder-shown {
    font-size: 16px;
    line-height: 24px;
    color: #000000; }
  .form-group :-ms-input-placeholder {
    font-size: 16px;
    line-height: 24px;
    color: #000000; }
  .form-group :placeholder-shown {
    font-size: 16px;
    line-height: 24px;
    color: #000000; }
  .form-group:nth-child(6) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 48px; }
  .form-group:nth-child(6) input {
    width: 24px; }

.submit {
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .submit button {
    background-color: #AA0601; }
  .submit a {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 176px; }
    .submit a:hover {
      color: blue; }

@media (max-width: 1326px) {
  .container {
    padding: 0 15px; }
  .bannertext {
    padding: 0 15px;
    padding-top: 296px; } }

@media (max-width: 992px) {
  .bannertext {
    padding-right: 15px; }
  .about ul {
    max-width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .about ul li {
      width: 50%; }
  .classic ul {
    padding-top: 48px;
    padding-bottom: 80px;
    max-width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .classic ul li {
      width: 100%;
      text-align: center;
      padding-bottom: 24px; }
  .design {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-md.png?raw=true); }
    .design ul {
      max-width: 100%;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding-bottom: 56px; }
    .design li {
      width: 100%;
      padding-bottom: 24px; }
  .card {
    padding-bottom: 80px;
    Max-width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .card li {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      width: 46%;
      margin-bottom: 24px; }
    .card .form-group {
      padding-left: 96px;
      padding-right: 96px; }
      .card .form-group p {
        font-size: 16px;
        line-height: 24px; }
    .card .submit button a {
      padding: 16px 136px; } }

@media (max-width: 767px) {
  .container {
    padding: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .banner {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true);
    height: 396px; }
  .bannertext {
    padding-top: 144px;
    padding-right: 14px; }
    .bannertext h3 {
      font-size: 16px;
      line-height: 24px; }
    .bannertext h2 {
      font-size: 24px;
      line-height: 36px;
      padding-bottom: 8px; }
  .about h2 {
    font-size: 24px;
    line-height: 36px;
    padding-top: 40px; }
  .about ul {
    padding: 0 14px; }
    .about ul li {
      width: 100%;
      padding-bottom: 24px; }
  .classic h2 {
    font-size: 24px;
    line-height: 36px;
    padding-top: 40px;
    padding-bottom: 0px; }
  .classic ul {
    padding: 24px 14px 16px 14px; }
    .classic ul li {
      padding-bottom: 24px; }
      .classic ul li:nth-child(2) {
        padding: 0;
        padding-bottom: 24px; }
  .design h2 {
    font-size: 24px;
    line-height: 36px;
    padding-top: 40px;
    padding-bottom: 24px; }
  .design ul {
    padding: 0 14px; }
  .customer h2 {
    font-size: 24px;
    line-height: 36px; }
  .card li {
    width: 100%;
    margin-bottom: 16px; }
  .form-group {
    padding-left: 14px;
    padding-right: 14px; }
    .form-group:nth-child(6) {
      padding-bottom: 24px; }
  .contactUs h2 {
    font-size: 24px;
    line-height: 36px;
    padding-top: 40px;
    padding-bottom: 24px; }
  .submit {
    padding-bottom: 40px; }
    .submit button a {
      padding: 16px 142px; } }

.product_container {
  Max-width: 1320px;
  text-align: center;
  margin: 0 auto; }
  .product_container .function {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .product_container .function ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%; }
      .product_container .function ul li {
        font-size: 32px;
        line-height: 48px;
        border-left: 1px solid #DCDCDC;
        border-right: 1px solid #DCDCDC;
        width: 100%; }
        .product_container .function ul li:nth-child(1) a {
          border-bottom: 8px solid #AA0601; }
        .product_container .function ul li a {
          padding: 24px 0;
          color: #000000;
          display: block; }
          .product_container .function ul li a:hover {
            background-color: #AA0601;
            border-bottom: 8px solid #AA0601; }

.picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 80px; }

.picture1 {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-1.png?raw=true);
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 296px; }

.picture2 {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-2.png?raw=true);
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 296px; }

.product {
  text-align: center; }
  .product h2 {
    font-size: 42px;
    line-height: 63px; }
  .product h3 {
    font-size: 32px;
    line-height: 48px;
    padding-bottom: 32px; }
  .product .glasses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .product .glasses li {
      width: 25%;
      padding: 0 12px;
      padding-bottom: 80px; }
      .product .glasses li img {
        width: 100%; }
      .product .glasses li .productInfo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .product .glasses li .productInfo p {
          font-size: 24px;
          line-height: 36px; }
          .product .glasses li .productInfo p:nth-child(2) {
            color: #AA0601; }
      .product .glasses li .color {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .product .glasses li .color1 {
        width: 24px;
        height: 24px;
        background-color: #5F3E2D;
        border-radius: 4px;
        margin-right: 8px; }
      .product .glasses li .color2 {
        width: 24px;
        height: 24px;
        background-color: #B75929;
        border-radius: 4px; }

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 80px; }
  .page p {
    border: 1px solid #555555; }
    .page p:nth-child(1) a {
      padding: 11px 12px;
      font-size: 19px;
      line-height: 26px; }
    .page p:nth-child(3) {
      background-color: #000000; }
      .page p:nth-child(3) a {
        color: #FFFFFF; }
    .page p:nth-child(7) a {
      padding: 11px 12px;
      font-size: 19px;
      line-height: 26px; }
    .page p a {
      display: block;
      color: #555555;
      padding: 12px 16px;
      font-size: 18px;
      line-height: 24px; }
      .page p a:hover {
        background-color: #000000;
        color: #FFFFFF; }

@media (max-width: 992px) {
  .product_container .function ul li {
    font-size: 24px;
    line-height: 36px; }
    .product_container .function ul li a {
      padding: 16px 0; }
  .product .glasses {
    padding: 0 24px; }
    .product .glasses li {
      padding-bottom: 40px;
      width: 50%; }
  .page {
    padding-top: 40px; } }

@media (max-width: 767px) {
  .product_container .function ul li {
    font-size: 16px;
    line-height: 24px; }
    .product_container .function ul li a {
      padding: 16px 12px; }
  .product_container .function ul h3 {
    font-size: 24px;
    line-height: 36px; }
  .picture {
    padding-bottom: 40px; }
  .picture1 {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-1.png?raw=true); }
  .picture2 {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-2.png?raw=true); }
  .product h2 {
    font-size: 24px;
    line-height: 36px; }
  .product h3 {
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 24px; }
  .product .glasses {
    padding: 0; }
    .product .glasses li {
      padding-bottom: 24px;
      width: 100%; }
  .page {
    padding-bottom: 64px; }
    .page p a {
      font-size: 16px;
      line-height: 22px;
      padding: 12px 15px; } }

.product2_container {
  Max-width: 1320px;
  text-align: center;
  margin: 0 auto; }
  .product2_container .function2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .product2_container .function2 ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%; }
      .product2_container .function2 ul li {
        font-size: 32px;
        line-height: 48px;
        border-left: 1px solid #DCDCDC;
        border-right: 1px solid #DCDCDC;
        width: 100%; }
        .product2_container .function2 ul li:nth-child(1) a {
          border: 0; }
          .product2_container .function2 ul li:nth-child(1) a:hover {
            border-bottom: 8px solid #AA0601; }
        .product2_container .function2 ul li:nth-child(2) a {
          border-bottom: 8px solid #AA0601; }
        .product2_container .function2 ul li a {
          padding: 24px 0;
          color: #000000;
          display: block; }
          .product2_container .function2 ul li a:hover {
            background-color: #AA0601;
            border-bottom: 8px solid #AA0601; }

.picture3 {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-3.png?raw=true);
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 296px; }

.picture4 {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-4.png?raw=true);
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 296px; }

.product2 {
  text-align: center; }
  .product2 h2 {
    font-size: 42px;
    line-height: 63px; }
  .product2 h3 {
    font-size: 32px;
    line-height: 48px;
    padding-bottom: 32px; }
  .product2 .glasses2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .product2 .glasses2 li {
      width: 33.3333%;
      padding: 0 12px;
      padding-bottom: 80px; }
      .product2 .glasses2 li img {
        width: 100%; }
      .product2 .glasses2 li .productInfo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .product2 .glasses2 li .productInfo p {
          font-size: 24px;
          line-height: 36px; }
          .product2 .glasses2 li .productInfo p:nth-child(2) {
            color: #AA0601; }
      .product2 .glasses2 li .color {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .product2 .glasses2 li .color1 {
        width: 24px;
        height: 24px;
        background-color: #5F3E2D;
        border-radius: 4px;
        margin-right: 8px; }
      .product2 .glasses2 li .color2 {
        width: 24px;
        height: 24px;
        background-color: #B75929;
        border-radius: 4px; }

.page2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 80px; }
  .page2 p {
    border: 1px solid #555555; }
    .page2 p:nth-child(1) a {
      padding: 11px 12px;
      font-size: 19px;
      line-height: 26px; }
    .page2 p:nth-child(3) {
      background-color: #000000; }
      .page2 p:nth-child(3) a {
        color: #FFFFFF; }
    .page2 p:nth-child(7) a {
      padding: 11px 12px;
      font-size: 19px;
      line-height: 26px; }
    .page2 p a {
      display: block;
      color: #555555;
      padding: 12px 16px;
      font-size: 18px;
      line-height: 24px; }
      .page2 p a:hover {
        background-color: #000000;
        color: #FFFFFF; }

@media (max-width: 992px) {
  .product2_container .function2 ul li {
    font-size: 24px;
    line-height: 36px; }
    .product2_container .function2 ul li a {
      padding: 16px 0; }
  .product2 .glasses2 {
    padding: 0 24px; }
    .product2 .glasses2 li {
      padding-bottom: 40px;
      width: 50%; }
  .page2 {
    padding-top: 40px; } }

@media (max-width: 767px) {
  .product2_container .function2 ul li {
    font-size: 16px;
    line-height: 24px; }
    .product2_container .function2 ul li a {
      padding: 16px 12px; }
  .product2_container .function2 ul h3 {
    font-size: 24px;
    line-height: 36px; }
  .picture {
    padding-bottom: 40px; }
  .picture3 {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-3.png?raw=true); }
  .picture4 {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-4.png?raw=true); }
  .product2 h2 {
    font-size: 24px;
    line-height: 36px; }
  .product2 h3 {
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 24px; }
  .product2 .glasses2 {
    padding: 0; }
    .product2 .glasses2 li {
      padding-bottom: 24px;
      width: 100%; }
  .page2 {
    padding-bottom: 64px; }
    .page2 p a {
      font-size: 16px;
      line-height: 22px;
      padding: 12px 15px; } }

.store1_container {
  text-align: left;
  padding-bottom: 32px; }
  .store1_container h2 {
    padding-top: 96px;
    font-size: 48px;
    line-height: 72px;
    font-weight: bold; }
    .store1_container h2::before {
      padding-left: 16px;
      content: "";
      border-left: 5px solid #9F1213; }

.select {
  padding-top: 32px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .select label {
    padding-top: 1px;
    font-size: 24px;
    line-height: 36px;
    padding-right: 16px; }
  .select select {
    width: 304px;
    height: 38px;
    border: 1px solid #CED4DA; }
    .select select option {
      padding-top: 32px;
      font-size: 18px;
      line-height: 26px;
      color: #495057; }

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .location li {
    width: 33.3333%;
    padding: 0 12px;
    padding-bottom: 48px; }
    .location li img {
      width: 100%; }
    .location li h3 {
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 24px;
      line-height: 36px;
      padding-left: 24px;
      border: 1px solid #00000020; }
    .location li .info {
      border: 1px solid #00000020;
      padding: 16px 0; }
      .location li .info span {
        padding-top: 3px;
        padding-left: 27px;
        padding-right: 11px; }
      .location li .info p {
        font-size: 20px;
        line-height: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-right: 24px; }
        .location li .info p:nth-child(2) {
          padding-top: 8px;
          padding-bottom: 8px; }
    .location li a {
      font-size: 19px;
      line-height: 27px;
      padding: 16px;
      text-align: center;
      color: #FFFFFF;
      background-color: #000000; }
      .location li a:hover {
        color: blue; }

@media (max-width: 992px) {
  .store1_container {
    padding: 0 15px; }
  .location li {
    width: 50%; } }

@media (max-width: 767px) {
  .store1_container h2 {
    font-size: 24px;
    line-height: 36px;
    padding-top: 40px; }
  .select {
    padding-top: 24px; }
    .select label {
      font-size: 16px;
      line-height: 24px; }
    .select select {
      width: 276px; }
  .location li {
    width: 100%; } }

.store2_container {
  Max-width: 1320px;
  margin: 0 auto;
  text-align: left;
  padding: 0 12px;
  padding-bottom: 32px; }
  .store2_container h2 {
    padding-top: 96px;
    font-size: 48px;
    line-height: 72px;
    font-weight: bold; }
    .store2_container h2::before {
      padding-left: 16px;
      content: "";
      border-left: 5px solid #9F1213; }

.select_store {
  padding-top: 32px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .select_store label {
    padding-top: 1px;
    font-size: 24px;
    line-height: 36px;
    padding-right: 16px; }
  .select_store select {
    width: 304px;
    height: 38px;
    border: 1px solid #CED4DA; }
    .select_store select option {
      padding-top: 32px;
      font-size: 18px;
      line-height: 26px;
      color: #495057; }

.taipei_location {
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .taipei_location li {
    padding-right: 24px;
    width: 50%; }
    .taipei_location li iframe {
      width: 100%;
      height: 100%; }
    .taipei_location li img {
      width: 100%; }
    .taipei_location li h3 {
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 24px;
      line-height: 36px;
      padding-left: 24px;
      border: 1px solid #00000020; }
    .taipei_location li .store_info {
      border: 1px solid #00000020; }
      .taipei_location li .store_info span {
        padding-top: 3px;
        padding-left: 27px;
        padding-right: 11px; }
      .taipei_location li .store_info p {
        font-size: 20px;
        line-height: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-right: 24px; }
        .taipei_location li .store_info p:nth-child(2) {
          padding-top: 8px;
          padding-bottom: 8px; }

@media (max-width: 992px) {
  .taipei_location {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 0px; }
    .taipei_location li {
      width: 100%;
      padding-bottom: 24px; }
      .taipei_location li:nth-child(1) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; }
        .taipei_location li:nth-child(1) img {
          width: 50%;
          padding-right: 24px; }
        .taipei_location li:nth-child(1) .select_store {
          width: 50%; }
      .taipei_location li:nth-child(2) {
        padding-bottom: 40px;
        height: 414px; } }

@media (max-width: 767px) {
  .store2_container h2 {
    padding-top: 40px;
    font-size: 24px;
    line-height: 36px; }
  .select {
    padding-top: 24px; }
  .select_store label {
    font-size: 16px;
    line-height: 24px; }
  .select_store select {
    width: 276px; }
  .taipei_location {
    padding-bottom: 0px; }
    .taipei_location li {
      width: 100%;
      padding-bottom: 24px; }
      .taipei_location li:nth-child(1) {
        display: block; }
        .taipei_location li:nth-child(1) img {
          padding: 0px;
          width: 100%; } }

.blog_container {
  Max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px; }

.header {
  background-color: #650300; }
  .header .blog_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 15px; }

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .news li a {
    padding: 13px 0;
    padding-right: 48px;
    display: block;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF; }
    .news li a:hover {
      color: blue; }

.search a {
  color: #FFFFFF;
  padding: 13px 0; }
  .search a:hover {
    color: blue; }
  .search a span {
    width: 30px;
    height: 30px; }

.blog h2 {
  padding-top: 96px;
  padding-bottom: 32px;
  font-size: 48px;
  line-height: 72px;
  color: #000000;
  font-weight: bold; }
  .blog h2::before {
    padding-left: 16px;
    content: "";
    border-left: 5px solid #9F1213; }

.blog_card {
  padding-bottom: 124px; }
  .blog_card li {
    padding-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .blog_card li img {
      width: 50%;
      height: auto;
      padding-right: 24px; }
    .blog_card li .text {
      width: 50%;
      height: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .blog_card li .text .text_content h4 {
        font-size: 32px;
        line-height: 48px;
        color: #650300; }
      .blog_card li .text .text_content .time {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-bottom: 16px; }
        .blog_card li .text .text_content .time h5 {
          font-size: 20px;
          line-height: 30px;
          color: #000000; }
        .blog_card li .text .text_content .time h6 {
          font-size: 16px;
          line-height: 24px; }
      .blog_card li .text .text_content p {
        font-size: 20px;
        line-height: 30px; }
        .blog_card li .text .text_content p span {
          font-size: 20px;
          line-height: 30px;
          visibility: hidden; }
      .blog_card li .text .more {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; }
        .blog_card li .text .more h3 {
          font-size: 36px;
          line-height: 54px;
          color: #650300; }

.blog_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 80px; }
  .blog_page p {
    border: 1px solid #555555; }
    .blog_page p:nth-child(1) a {
      padding: 11px 12px;
      font-size: 19px;
      line-height: 26px; }
    .blog_page p:nth-child(3) {
      background-color: #000000; }
      .blog_page p:nth-child(3) a {
        color: #FFFFFF; }
    .blog_page p:nth-child(7) a {
      padding: 11px 12px;
      font-size: 19px;
      line-height: 26px; }
    .blog_page p a {
      display: block;
      color: #555555;
      padding: 12px 16px;
      font-size: 18px;
      line-height: 24px; }
      .blog_page p a:hover {
        background-color: #000000;
        color: #FFFFFF; }

@media (max-width: 992px) {
  .blog h2 {
    padding-top: 80px; }
  .blog_card {
    padding-bottom: 80px; }
    .blog_card li {
      padding-bottom: 24px; }
      .blog_card li .text .text_content p span {
        visibility: visible; }
      .blog_card li .text .more {
        display: none; } }

@media (max-width: 767px) {
  .header {
    display: none; }
  .blog_container {
    padding: 0 15px; }
  .blog h2 {
    padding-top: 40px;
    padding-bottom: 24px;
    font-size: 24px;
    line-height: 36px; }
  .blog_card {
    padding-bottom: 64px; }
    .blog_card li {
      display: block; }
      .blog_card li img {
        width: 100%;
        padding: 0; }
      .blog_card li .text {
        width: 100%; }
        .blog_card li .text .text_content p {
          display: none; }
  .blog_page {
    padding-bottom: 64px; } }

.blog2_container {
  Max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px; }

.tag {
  padding-top: 24px; }
  .tag span {
    font-size: 24px;
    line-height: 36px;
    color: #AA0601; }
    .tag span:nth-child(1) {
      font-size: 16px;
      line-height: 24px;
      color: #0A0A0A; }
    .tag span:nth-child(2) {
      font-size: 16px;
      line-height: 24px;
      color: #AA0601; }

.special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.valentine {
  width: 68%;
  padding-right: 24px; }
  .valentine h2 {
    font-size: 48px;
    line-height: 72px; }
  .valentine h4 {
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 16px; }
  .valentine ul li {
    padding-bottom: 40px; }
    .valentine ul li img {
      width: 100%;
      padding-bottom: 8px; }

.share {
  width: 66%; }
  .share ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #707070;
    padding-bottom: 16px; }
    .share ul li {
      padding-right: 16px;
      padding-bottom: 0; }
      .share ul li a {
        font-size: 16px;
        line-height: 24px;
        color: #0A0A0A; }
        .share ul li a img {
          width: 24px;
          height: 24px; }
        .share ul li a:hover {
          background-color: blue; }

.next {
  width: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 80px; }
  .next p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.tags span {
  font-size: 24px;
  line-height: 36px;
  padding-right: 24px;
  color: #AA0601;
  font-weight: bold; }

.tags h3 {
  font-size: 32px;
  line-height: 48px;
  color: #AA0601;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .tags h3 span {
    font-size: 32px;
    line-height: 48px; }

@media (max-width: 992px) {
  .share {
    width: 100%; }
  .next {
    width: 100%; } }

@media (max-width: 767px) {
  .valentine {
    width: 100%; }
  .tags {
    display: none; }
  .share {
    display: none; }
  .next {
    display: none; } }

.question_container {
  Max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
  padding-bottom: 80px; }
  .question_container h2 {
    padding-top: 96px;
    padding-bottom: 32px;
    font-size: 48px;
    line-height: 72px;
    color: #000000;
    font-weight: bold; }
    .question_container h2::before {
      padding-left: 16px;
      content: "";
      border-left: 5px solid #9F1213; }
  .question_container h3 {
    font-size: 24px;
    line-height: 36px;
    font-weight: bold; }
  .question_container .question {
    padding-top: 32px; }
    .question_container .question:nth-child(1) {
      padding-top: 24px; }
    .question_container .question h4 {
      font-size: 20px;
      line-height: 30px;
      padding-bottom: 8px;
      font-weight: bold; }
    .question_container .question p {
      font-size: 16px;
      line-height: 24px; }

@media (max-width: 767px) {
  .question_container {
    padding: 0 15px;
    padding-bottom: 64px; }
    .question_container h2 {
      font-size: 24px;
      line-height: 36px;
      padding-top: 40px;
      padding-bottom: 24px; }
  .question {
    padding-top: 24px; } }

/*# sourceMappingURL=all.css.map */
